{% extends "maps/base.html" %}

{%block content %}
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="inputlocation" class="form-label">Original Location</label>
      <input type="text" class="form-control" name="inputlocation" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Destination</label>
      <input type="text" class="form-control" name="inputDestination">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h1>{{data.KM}}</h1>

        
    
{% endblock content%}
  